    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url('home') }}">Wish-List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/secretariat">Secrétariat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/stock">Gestionnaire des stocks</a>
                    </li>
                </ul>
                {% if not app.user %}
                    <li class="nav-item d-flex">
                        <a class="nav-link active" aria-current="page" href="{{ path('security_login') }}">Se connecter</a>
                    </li>
                {% else %}
                    <li class="nav-item d-flex">
                        <a class="nav-link active" aria-current="page" href="{{ path('security_logout') }}">Se deconnecter</a>
                    </li>
                {% endif %}
            </div>
        </div>
    </nav>
